<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://placehold.co/600x400" alt="" />

  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Titulo</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, tenetur voluptatem optio nihil sed repudiandae minima! Incidunt, consequatur cum. Culpa voluptatibus ipsam blanditiis consequatur, tempore magnam? Nulla earum repellat doloremque!
    </p>
  </div>
</div>
