<app-menu-title></app-menu-title>
<div class="container__articles">
   <div class="articles__main">
      <app-big-card
        id="1"
        photoCover="https://placehold.co/600x400"
        cardTitle="Titulo do BigCard"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur">
      </app-big-card>
   </div>
   <div class="articles__outhers">
      <app-small-card
        id="2"
        photoCover="https://placehold.co/120x80"
        cardTitle="Titulo do SmallCard 1"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur">
      ></app-small-card>
      <app-small-card
        id="3"
        photoCover="https://placehold.co/120x80"
        cardTitle="Titulo do SmallCard 2"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur">

      </app-small-card>
      <app-small-card
        id="4"
        photoCover="https://placehold.co/120x80"
        cardTitle="Titulo do SmallCard 3"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec pur">
      ></app-small-card>
   </div>
</div>
